.column-left{
    float: left;
    width: 30%;
    height: 800px;
    background-color: whitesmoke;
    max-width: 30%;
    overflow-x: auto;
    text-align: center;
}

.column-right{
    float: left;
    width: 70%;
    height: 800px;
    overflow-y: scroll;
    position: relative;
}

.column-left, .column-right{
    font-family: lato;
}

.app-title{
    font-size: 32px;
    color: dimgrey;
    font-weight: 300;
}
