.column-left{
    float: left;
    width: 30%;
    height: 800px;
    background-color: white;
    max-width: 30%;
    overflow-x: auto;
    text-align: center;
    position: fixed;
    min-width: 200px;
    z-index: 2;
}

.column-right{
    width: 70%;
    height: 751px;
    margin-left: 30%;
    overflow-y: scroll;
    background-color: #DDE1EB;
}

.column-left, .column-right{
    font-family: lato;
}

.app-title{
    font-size: 32px;
    color: dimgrey;
    font-weight: 300;
    
}

.active-chatroom > h2{
    background-color: whitesmoke;
    height: 60px;
    padding-top: 20px;
    position: sticky;
    margin-top: 0px;
    top: 0;
    z-index: 1;
}